@import "./styles.css";

#content-wrapper{
    padding: 1em 15em;
    background-clip: content-box;
    background-color: #fdf5f5;
}

section{
    border: 1px solid black;
}

ul{
    list-style-type: none;
}

.season-section{
    margin-bottom: 10px;
}

.season-number{
    position: relative;
    padding: 18px 10px;
    text-align: left;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
    text-align: justify;
}

.season-number h2{
    margin: auto;
}

.season-collapse:hover, .active{
    cursor: pointer;
    background-color: var(--color);
}

.season-collapse:after{
    content: '\02795';
    position: absolute;
    bottom: 1.2rem;
    right: 1rem;
    color: white;
}

.active:after{
    content: "\2796";
}

.content-collapse{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}

.playlist{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.playlist > li{
    margin: 1em 0;
}

.thumbnail{
    width: 640px;
    height: 390px;
}

.thumbnail > img{
    width: inherit;
    height: inherit;
}

.visibility{
    visibility: hidden;
    opacity: 0;
}

.visibility-show{
    visibility: visible;
    opacity: 1;
}

.player-wrapper{
    display: grid;
}

.visibility, .thumbnail{
    grid-area: 1/1;
}

