body{
    box-sizing: border-box;
    min-width: auto;
    min-height: 100%;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 18px 50px;
    background-color: #FF6B00;
    box-shadow: 0 3px 5px #393F4880;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 10px;
}

.box{
    background-color: green;
    padding: 10px 15px;
}

#logo-container{
    height: 57px;
    width: 57px;
    
}

#logo{
    height: inherit;
    width: inherit;
}

a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px 16px;
    max-height: 20px;
}

section{
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 60vw;
    padding: 120px 100px;
    
}

.title-container{
    margin-bottom: 10px;
}

.title-container h1, p{
    margin-top: 0;
    margin-bottom: 5px;
}

.title-container p{
    font-weight: bold;
}


