:root{
    --color: #ff7600;
    --font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    box-sizing: border-box;
    min-width: auto;
    min-height: 100%;
    margin: 0;
}

header{
    box-sizing: border-box;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 18px 50px;
    background-color: var(--color);
    box-shadow: 0 3px 5px #393F4880;
    transition: top 0.2s ease-in-out;
    top: 0;
}


nav{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 10px;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 1.3rem;
}

#logo-wrapper{
    height: 57px;
    width: 150px;
}

#logo{
    height: inherit;
    width: inherit;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 16px;
    max-height: 20px;
}

section{
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

footer{
    box-sizing: border-box;
    margin-top: 0;
    width: 100%;
    padding: 18px 50px;
    background-color: var(--color);
    text-align: center;
}

footer > p{
    margin: 5px 0;
    font-weight: bold;
}

#dropdown{
    padding: 8px 16px;
}

#dropdown-btn{
    background: none;
    border: none;
    padding: 0;
    font-weight: bold;
    max-height: 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: var(--font-family);
}

#wrapper{
    padding-top: 93px;
    min-height: calc(100vh - 100px)
}

.nav-up{
    top: -93px
}

.dropdown-content{
    margin-top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(0.5rem);
    background-color: white;
    border: 2.5px solid black;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    list-style-type: none;
    padding: 0;
}

.dropdown-content li{
    padding: 0.5rem 1rem 0.5rem 0.3rem;
}

.dropdown-content > li:hover{
    background-color: #ff7600;
}

.show{
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
}