:root{
    --color: #ff7600;
    --font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    box-sizing: border-box;
    min-width: auto;
    min-height: 100%;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 18px 50px;
    background-color: var(--color);
    box-shadow: 0 3px 5px #393F4880;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 10px;
}

img{
    max-width: 100%;
    height: auto;
}

#logo-wrapper{
    height: 57px;
    width: 150px;
}

#logo{
    height: inherit;
    width: inherit;
}

.section-no-margins{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 16px;
    max-height: 20px;
}

section{
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 120px 100px;
    
}

#dropdown{
    padding: 8px 16px;
}

#dropdown-btn{
    background: none;
    border: none;
    padding: 0;
    font-weight: bold;
    max-height: 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: var(--font-family);
}

.dropdown-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(0.5rem);
    background-color: white;
    border: 2.5px solid black;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
}

.dropdown-content > a{
    padding: 0.5rem 1rem 0.5rem 0.3rem;
}

.dropdown-content > a:hover{
    background-color: #ff7600;
}

.show{
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
}